{% extends 'base.html.twig' %}

{% block title %}Tournoi index{% endblock %}

{% block body %}
    <div class="col-sm-8">
    <section class="panel">
    <div class="chat-room-head">
    <h3><i class="fa fa-angle-right"></i> Gérer les tournois</h3>
    </div>
    <div class="panel-body">
    <table class="table table-striped table-advance table-hover">
            <thead>
            <tr class="tableau-entete">
            <th><i class="fa fa-bullhorn"></i> Id</th>
            <th><i class="fa fa-bookmark"></i> Libelle</th>
            <th><i class="fa fa-calendar"></i> Date</th>
            <th><i class="fa fa-calendar"></i> Date de creation</th>
            <th><i class="fa fa-users"></i> Participants</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>
                <td>{{ tournoi.id }}</td>
                <td>{{ tournoi.nom }}</td>
                <td>{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }}</td>
                <td>2025-11-01</td> {# Placeholder #}
                <td>
                    {% if tournoi.participants is empty %}
                        AUCUN
                    {% else %}
                        {% for participant in tournoi.participants %}
                            <span class="badge bg-theme">{{ participant.prenom }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <a href="{{path('app_tournoi_show',{'id': tournoi.id})}}"><button class="btn btn-primary btn-xs"><i class="fa fa-tasks"></i></button></a>
                    <a href="{{path('app_tournoi_edit',{'id': tournoi.id})}}"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                    {{ include('tournoi/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun tournoi enregistré en base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tournoi_new') }}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
    </div>
    </section>
    </div>
{% endblock %}
