{% extends "base.html.twig" %}

{% block central %}
<div class="col-sm-8">
   <section class="panel">
      <div class="chat-room-head">
         <h3><i class="fa fa-angle-right"></i> Gérer les marques</h3>
      </div>
      <div class="panel-body">
         <table class="table table-striped table-advance table-hover">
         <thead>
           <tr class="tableau-entete">
            <th>Identifiant</th>
            <th>Libellé</th>
            <th></th>
           </tr>
         </thead>
         <tbody>
         <tr>
         <form action="{{ path('marques_ajouter') }}" method="post">
            <td>Nouveau</td>
            <td>
               <input type="text" id="txtLibMarque" name="txtLibMarque" size="24" required minlength="2" maxlength="50" placeholder="Libellé" />
            </td>
            <td>
               <button class="btn btn-primary btn-xs" type="submit" title="Enregistrer nouveau"><i class="fa fa-save"></i></button>
            </td>
         </form>
         </tr>

         {% for key, m in tbMarques %}
           <tr>
            {% if m.identifiant != idMarqueModif %}
            <form action="{{ path('marques_demandermodifier') }}" method="post" style="display:inline;">
                <td>{{ m.identifiant }}<input type="hidden"  name="txtIdMarque" value="{{ m.identifiant }}" /></td>
                <td>{{ m.nom }}</td>
                <td>
                    <button class="btn btn-primary btn-xs" type="submit" title="Modifier"><i class="fa fa-pencil"></i></button>
                </td>
            </form>
            <form action="{{ path('marques_supprimer') }}" method="post" style="display:inline;">
                <input type="hidden" name="txtIdMarque" value="{{ m.identifiant }}" />
                <td style="display:none;"></td><td style="display:none;"></td>
                <td>
                    <button class="btn btn-danger btn-xs" type="submit" title="Supprimer" onclick="return confirm('Voulez-vous vraiment supprimer cette marque ?');"><i class="fa fa-trash-o "></i></button>
                </td>
            </form>
            {% else %}
            <form action="{{ path('marques_validermodifier') }}" method="post">
                <td>{{ m.identifiant }}<input type="hidden"  name="txtIdMarque" value="{{ m.identifiant }}" /></td>
                <td><input type="text" id="txtLibMarque" name="txtLibMarque" size="24" required value="{{ m.nom }}" /></td>
                <td>
                    <button class="btn btn-primary btn-xs" type="submit" title="Enregistrer"><i class="fa fa-save"></i></button>
                    <a class="btn btn-warning btn-xs" href="{{ path('marques_afficher') }}" title="Annuler"><i class="fa fa-undo"></i></a>
                </td>
            </form>
            {% endif %}
           </tr>
         {% endfor %}
         </tbody>
        </table>
      </div>
    </section>
</div>
{% endblock %}